* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 70px;
    /* Adjust based on the height of your header to avoid content being hidden */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    transition: all 0.3s ease;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #1abc9c;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 1.5rem;
    }

    nav {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-open {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .menu-icon {
        display: block;
        align-self: flex-end;
        margin-top: -23px;
        /* Align the menu icon to the right */
    }
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
    }

    .header {
        padding: 1rem 4rem;
        /* Increase padding for larger screens */
    }

    .logo {
        font-size: 2.2rem;
        /* Increase font size for larger screens */
    }

    .nav-links {
        gap: 2rem;
        /* Increase gap between menu items for larger screens */
    }

    .nav-links li a {
        font-size: 1.1rem;
        /* Slightly larger font size for menu items */
    }
}